/* 路由统一动效 */

/* 动画形式 */
.page-enter-active,.page-leave-active{
  transition: opacity .5s;
}

/* 进入和离开页面的样式 */
.page-enter,.page-leave-active{
  opacity: 0;
}


/* 单个页面的动态效果 */

/* 动画形式 */
.test-enter-active,.test-leave-active{
  transition: .5s ease all;
}

/* 进入和离开页面的样式 */
.test-enter,.test-leave-active{
  margin-left: -1000px;
}
